        <div class="divider"></div>
<div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <h1 class="header center-on-small-only">How it Works?</h1>
          <div class='row center'>
            <h4 class ="header col s12 light center">Twitter -> Personality Insights -> Relation</h4>
          </div>
          <div class="row center">

          </div>

          <br>
      
        </div>
      </div>
<!--       <div class="github-commit">
          <div class="container">
              make sure you have 100 words in english
            </div>
          </div>
        </div>
      
      </div>
 -->

<div class="container">
  <!--  Outer row  -->
  <div class="row">


      <!--  About the Team-->
      <div id="team" class="section scrollspy">
        <div class="row">
          <h2 class="header">Action Flow of the Application</h2>
        </div>
        <br />

        <div class="row">
          <div class="col s12 m3 center-on-small-only">
            <div class="image-container">
              <img src="images/twitter.png">
            </div>
          </div>
          <div class="col s12 m9">
            <h4>Twitter</h4>
            <p>
              User enters a Twitter handle. The profile must be Public. There should be at least 100 different words in english in Tweets data. The more the Tweets, the more the accuracy of OCEAN model result by Personality insights</p>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m3 center-on-small-only">
            <div class="image-container">
              <img src="images/po.png">
              </div>
          </div>
          <div class="col s12 m9">
            <h4>Watson Personality insights</h4>
            <p>The IBM Watson Personality Insights service uses linguistic analytics to infer cognitive and social characteristics, including Big Five, Values, and Needs, from tweets data. </p>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m3 center-on-small-only">
            <div class="image-container">
            <img src="images/relation.png">
              </div>
          </div>
          <div class="col s12 m9">
            <h4>Relation</h4>
            <p>To predict the relation between personality and entertainment domains we used a paper named "Relating Personality Types with User Preferences in Multiple Entertainment Domains" by Iván Cantador,Ignacio Fernández-Tobías,Alejandro Bellogín.You can look at the paper here.CEUR Workshop Proceedings (CEUR-WS.org) is a free open-access publication service of Sun SITE Central Europe operated under the umbrella of RWTH Aachen University. </p>
            <a href = "http://ceur-ws.org/Vol-997/empire2013_paper_2.pdf" target="_blank" class="waves-effect waves-light btn">Paper</a>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m3 center-on-small-only">
            <div class="image-container">
            <img src="images/ibluemix.jpg">
              </div>
          </div>
          <div class="col s12 m9">
            <h4>Bluemix</h4>
            <p>
              IBM Bluemix is a cloud platform as a service (PaaS) developed by IBM. It supports several programming languages and services as well as integrated DevOps to build, run, deploy and manage applications on the cloud.IBM Bluemix has great support for nodejs and other applications 
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div> 