<div class="container">
  <div class="row">

    <div class="col s12 m9 l10">

  <!-- Cards Section-->
      
      <!--First-->
      <div id="reveal" class="section scrollspy">
        <div class="row"ay
          <!-- Pullup Card -->
          <div class="col s12 m7">
            <h2 class="header">Movies</h2>
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/office.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" id = "movie_genre">movie Genre<i class="material-icons right">more_vert</i></span>

                <!-- <p><a href="#!">This is a link</a></p> -->
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" id = "movie_genre">Genre<i class="material-icons right">close</i></i></span>
                <p id = "movie_decription">
                  my
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m5">
            <br><br><br><br>
            <p class="caption" id = "movie_list">
              may be make a list out of it
            </p>
          </div>
          <div class="col s12">
            <br>
            <br>
          </div>
        </div>
      </div>

<!-- second -->
      <div id="reveal" class="section scrollspy">
        <div class="row">
          <!-- Pullup Card -->
          <div class="col s12 m7">
            <h2 class="header">Books</h2>
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/office.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" id ="book_genre">Book genre<i class="material-icons right">more_vert</i></span>

                <!-- <p><a href="#!">This is a link</a></p> -->
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" id = "book_genre">Book genre<i class="material-icons right">close</i></i></span>
                <p id = "book_info">
                  more info about the book
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m5">
            <br><br><br><br>
            <p class="caption" id = "book_list">
            List of the books
            </p>
          </div>
          <div class="col s12">
            <br>
            <br>
          </div>
        </div>
      </div>

      <!-- Third -->
      <div id="reveal" class="section scrollspy">
        <div class="row">
          <!-- Pullup Card -->
          <div class="col s12 m7">
            <h2 class="header">Music</h2>
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/office.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" id ="music_genre">Music genre<i class="material-icons right">more_vert</i></span>

                <!-- <p><a href="#!">This is a link</a></p> -->
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" id ="music_genre">Genre<i class="material-icons right">close</i></i></span>
                <p id = "music_infor">
                More info about the genre</p>
              </div>
            </div>
          </div>
          <div class="col s12 m5">
            <br><br><br><br>
            <p class="caption" id ="music_list">
             More info about the genre
            </p>
          </div>
          <div class="col s12">
            <br>
            <br>
          </div>
        </div>
      </div>





   
    </div>
    </div>
</div>

