    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <h5 class="white-text">IBM Bluemix Hackathon</h5>
            <p class="grey-text text-lighten-4">We have build this web application using IBM Watson Personality insights service and Bluemix</p>
          </div>
          <div class="col l4 s12">
            <h5 class="white-text">Team Straw Hats</h5>
            <p class="grey-text text-lighten-4"><li class="grey-text text-lighten-4">Sainath Latkar</li><li class="grey-text text-lighten-4">Sourabh Limbore</li>
            <p class="grey-text text-lighten-4">(College of Engineering, Pune students)</p></p>

          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made with ♥ using Artificial Intellegence
        </div>
      </div>
    </footer>