- var no_nav = true

doctype html
html(lang="en")
  head
    include _head.jade
  body
    include _navbar.jade
    main
      include work_flow/work_flow_content.html
    include _footer.html
    include _scripts.html
