      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <h1 class="header center">Personality-Interest Mapper</h1>
          <div class='row center'>
            <h4 class ="header col s12 light center">Enter Twitter handle below to map your Interest in Entertainment Domains</h4>
          </div>
          <div class="row center">
<!--         <div class="divider"></div>
        <div class="divider"></div>
 -->



  <nav>
    <div class="nav-wrapper">
       <form method="POST" action="/">
               
        <div class="input-field purple">
          <input id="search" type="search" name="username" required>
          <label for="search"><i class="material-icons">grade</i></label>
          <!-- <i class="material-icons">close</i> -->
        </div>
      </form>
    </div>
  </nav>

            
                      <!-- <div class="card-panel hoverable"> Make sure that you have 100 words</div> -->

            <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light">Get Started</a>
 -->
          </div>
          <br>
        </div>
        <div class="github-commit">
          <div class=" center container">
            <!-- <div class="commit"> -->
              The more the Tweets , the more accurate is the result.( requires at least 100 english words and public Twitter profile)
              <!-- 
              <a href="" class="sha"></a>
              &nbsp;&nbsp; -->
              <!-- <span class="date"></span> -->
              <!-- <a id="github-button" href="https://github.com/Dogfalo/materialize" class="btn-flat right grey-text text-lighten-5 waves-effect waves-light hide-on-small-only">Github</a> -->
            </div>
          </div>
        </div>
      
      </div>

      <div class="container">
        <div class="section">
<!-- <form method="POST" action="/">
  <input type="hidden" name="_method" value="PUT"/>
  <p>Name
    <input type="text" name="name"/>
  </p>
  <p>
    <input type="submit"/>
  </p>
</form> 
      -->        
<!-- 
          <div class="row">
            <div class="col s12 m8 offset-m2">
              <br>
              <img id="responsive-img" src="images/twitter-icon.png">
            </div>
          </div>
 -->
          <div class="row">
            <h3 class="col s12 light center header">We simplifly the relation between a personality and Interest of users</h3>
          </div>
<div class= "container">
          <!--   Promo Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="center promo">
              <div class="image-container">
              <img src="images/ibm-watson.png">
              </div>
                <!-- <i class="material-icons">flash_on</i> -->
                <p class="promo-caption">IBM Watson</p>
                <p class="light center">A cognitive system that enables a new partnership between people and computers that enhances, scales and accelerates human expertise.</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="center promo">
                <div class="image-container">
              <img src="images/new_bluemix.jpg">
              </div>
                <p class="promo-caption">Bluemix</p>
                <p class="light center">IBM Bluemix is a cloud platform as a service (PaaS) developed by IBM. It supports several programming languages and services as well as integrated DevOps to build, run, deploy and manage applications on the cloud.</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="center promo">
                <div class="image-container">
              <img src="images/twitter.png">
              </div>
                <p class="promo-caption">Twitter</p>
                <p class="light center">An online social networking service that enables users to send and read short 140-character messages called "tweets".</p>
              </div>
            </div>
          </div>

        </div>
        </div>
        <div class="divider"></div>

<!--         
        <div class="section">
          <div class="row center">
            <h3 class="light header">Materialize Showcase</h3>
            <p class="col s8 offset-s2 caption">Checkout what people are creating with Materialize. Get inspired by these beautiful sites and you can even submit your own website to be showcased here.</p>
            <a href="http://materializecss.com/showcase.html" class="btn-large waves-effect waves-light">Explore our Showcase</a>
          </div>
        </div>
      </div> -->

