<div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <h1 class="header center-on-small-only" id = "nameid"></h1>

          </div>

          <br>
      
        <!-- </div> -->
          <!-- <div class="divider"></div> -->

</div>


    <div class="col s12 m9 l10">
          <br>
          <br>
    
      <canvas id="canvas" ></canvas>
    </div>

<div class="col s12 m9 l10">
     <!-- Cards Section-->
      <!-- temp -->
       
      <!--  /temp-->
      <!--First-->
          <div class="divider"></div>

<div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <!-- <h1 class="header center-on-small-only">Some Test Insights</h1> -->
          <div class='row center'>
            <h4 class ="header col s12 light center">You will surely love the following</h4>
          </div>
          <div class="row center">

          </div>

          <!-- <br> -->
      
        </div>
      </div>
      <div class="github-commit">
          <div class="container">
             The results are based on your personality insights big 5 score
            </div>
          </div>
        </div>
      
      </div>
<!--  -->
 <!-- <div class="card-panel teal lighten-2">this will be awesome</div> -->


<div class="container">
  <div class="row">

      
      <div id="reveal" class="section scrollspy">
        <div class="row"ay
          <!-- Pullup Card -->
          <div class="col s12 m7">
            <h2 class="header">Movies</h2>
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/movie.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" id = "movie_genre">movie Genre<i class="material-icons right">more_vert</i></span>

                <!-- <p><a href="#!">This is a link</a></p> -->
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" id = "movie_genre_t">Genre<i class="material-icons right">close</i></i></span>
                <p id = "movie_decription" >
                  my
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m5">
            <br><br><br><br>
            <a id="m_link" href="" target="_blank" >
            <p  class="caption" id = "movie1">
            </p>
           
            
            <p class="caption" id = "movie2">
            </p>
            <p class="caption" id = "movie3">
            </p>
            <p class="caption" id = "movie4">
             </p>
            <p class="caption" id = "movie5">
             </p>
            <p class="caption" id = "movie6">
             </p>
             </a>
          </div>
          <div class="col s12">
            <br>
            <br>
          </div>
        </div>
      </div>

<!-- second -->
      <div id="reveal" class="section scrollspy">
        <div class="row">
          <!-- Pullup Card -->
          <div class="col s12 m7">
            <h2 class="header">Books</h2>
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/book.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" id ="book_genre">Book genre<i class="material-icons right">more_vert</i></span>

                <!-- <p><a href="#!">This is a link</a></p> -->
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" id = "book_genre_t">Book genre<i class="material-icons right">close</i></i></span>
                <p id = "book_info">
                  more info about the book
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m5">
            <br><br><br><br>
            <a id="b_link" href="" target="_blank" >
            <p class="caption" id = "book_list">
           <!--  -->
            <p class="caption" id = "book1">
            </p>
            <p class="caption" id = "book2">
            </p>
            <p class="caption" id = "book3">
            </p>
            <p class="caption" id = "book4">
             </p>
            <p class="caption" id = "book5">
             </p>
            <p class="caption" id = "book6">
             </p>
            </p>
            </a>
          </div>
          <div class="col s12">
            <br>
            <br>
          </div>
        </div>
      </div>

      <!-- Third -->
      <div id="reveal" class="section scrollspy">
        <div class="row">
          <!-- Pullup Card -->
          <div class="col s12 m7">
            <h2 class="header">Music</h2>
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/music.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4" id ="music_genre">Music genre<i class="material-icons right">more_vert</i></span>

                <!-- <p><a href="#!">This is a link</a></p> -->
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" id ="music_genre_t">Genre<i class="material-icons right">close</i></i></span>
                <p id = "music_info">
                More info about the genre</p>
              </div>
            </div>
          </div>
          <div class="col s12 m5">
            <br><br><br><br>
            <p class="caption" id ="music_info_p">
             We wish to include Music list here
            </p>
          </div>
          <div class="col s12">
            <br>
            <br>
          </div>
        </div>
      </div>





   
    </div>
    </div>
</div>


</div> <!-- End Container -->
    <script type="text/javascript">
        // document.getElementById('something').innerHTML = one
        //change the name?
        //TODO
        console.log("movie_genre is "+movie_genre_p);
      document.getElementById("nameid").innerHTML = "@"+name_is+" here's your BIG 5";

        if(movie_genre_p == "war"){
          document.getElementById("movie_decription").innerHTML = "War film is a film genre concerned with warfare, typically about naval, air, or land battles in the twentieth century, with combat scenes central to the dramaThemes explored include combat, survival and escape, sacrifice, the futility and inhumanity of battle, the effects of war on society, and the moral and human issues raised by war. ";
          document.getElementById("movie1").innerHTML = "American Sniper";
          document.getElementById("movie2").innerHTML = "The Imitation Game";
          document.getElementById("movie3").innerHTML = "Fury";
          document.getElementById("movie4").innerHTML = "Inglorious Basterds";
          document.getElementById("movie5").innerHTML = "Lone Survivor";
          document.getElementById("movie6").innerHTML = "Black Hawk Down";

          document.getElementById("m_link").href = "http://www.imdb.com/genre/war";


        }
        if(movie_genre_p == "action"){
           document.getElementById("movie_decription").innerHTML = "Action film is a film genre in which one or more heroes are thrust into a series of challenges that typically include physical feats, extended fight scenes, violence, and frantic chases. Action films tend to feature a resourceful character struggling against incredible odds, which include life-threatening situations, a villain, or a pursuit which generally concludes in victory for the hero";
          document.getElementById("movie1").innerHTML = "The Dark Knight ";
          document.getElementById("movie2").innerHTML = "The Matrix";
          document.getElementById("movie3").innerHTML = "Die Hard ";
          document.getElementById("movie4").innerHTML = "Rush";
          document.getElementById("movie5").innerHTML = "The Avengers";
          document.getElementById("movie6").innerHTML = "Avatar";

          document.getElementById("m_link").href = "http://www.imdb.com/genre/action";


        }

        if(movie_genre_p =="comedy"){
           document.getElementById("movie_decription").innerHTML = "Comedy is a genre of film in which the main emphasis is on humour. These films are designed to entertain the audience through amusement, and most often work by exaggerating characteristics of real life for humorous effect. Films in this style traditionally have a happy ending";

          document.getElementById("movie1").innerHTML = "Due Date";
          document.getElementById("movie2").innerHTML = "The Hangover";
          document.getElementById("movie3").innerHTML = "Ted";
          document.getElementById("movie4").innerHTML = "Rush Hour";
          document.getElementById("movie5").innerHTML = "21 Jump Street";
          document.getElementById("movie6").innerHTML = "Adventureland";

          document.getElementById("m_link").href = "http://www.imdb.com/genre/comedy";

        }
        if(movie_genre_p == "adventure"){
           document.getElementById("movie_decription").innerHTML = "Adventure film is a genre that revolves around the conquests and explorations of a protagonist. The purpose of the conquest can be to retrieve a person or treasure, but often the main focus is simply the pursuit of the unknown. These films generally take place in exotic locations and play on historical myths. Adventure films incorporate suspenseful puzzles and intricate obstacles that the protagonist must overcome in order to achieve the end goal. ";


          document.getElementById("movie1").innerHTML = "The Hobbit: An Unexpected Journey";
          document.getElementById("movie2").innerHTML = "Jurassic World";
          document.getElementById("movie3").innerHTML = "Tomorrowland";
          document.getElementById("movie4").innerHTML = "Interstellar";
          document.getElementById("movie5").innerHTML = "The Lord of the Rings: The Return of the King";
          document.getElementById("movie6").innerHTML = "Indiana Jones and the Last Crusade";

          document.getElementById("m_link").href = "http://www.imdb.com/genre/adventure";

        }
        if(movie_genre_p == "drama"){
           document.getElementById("movie_decription").innerHTML = "Drama film is a genre that relies on the emotional and relational development of realistic characters. While Drama film relies heavily on this kind of development, dramatic themes play a large role in the plot as well. Often, these dramatic themes are taken from intense, real life issues. Whether heroes or heroines are facing a conflict from the outside or a conflict within themselves, Drama film aims to tell an honest story of human struggles.";


          document.getElementById("movie1").innerHTML = "The Godfather";
          document.getElementById("movie2").innerHTML = "The Dark Knight";
          document.getElementById("movie3").innerHTML = "Schindler's List";
          document.getElementById("movie4").innerHTML = "The Departed";
          document.getElementById("movie5").innerHTML = "Fight Club";
          document.getElementById("movie6").innerHTML = "The Shawshank Redemption";

          document.getElementById("m_link").href = "http://www.imdb.com/genre/drama";

        }

        if(movie_genre_p == "animation"){
           document.getElementById("movie_decription").innerHTML = "This genre has catered towards fairy tales and children’s stories. However, animation has long been a genre enjoyed by all ages. As of recent, there has even been an influx of animation geared towards adults. Animation is commonly thought of as a technique, thus it’s ability to span over many different genres. ";

          document.getElementById("movie1").innerHTML = "Minions";
          document.getElementById("movie2").innerHTML = "Big Hero 6";
          document.getElementById("movie3").innerHTML = "Despicable Me";
          document.getElementById("movie4").innerHTML = "How to Train Your Dragon 2";
          document.getElementById("movie5").innerHTML = "Frozen";
          document.getElementById("movie6").innerHTML = "Kung Fu Panda";

          document.getElementById("m_link").href = "http://www.imdb.com/genre/animation";



        }

        if(movie_genre_p =="horror"){
           document.getElementById("movie_decription").innerHTML = "Horror film is a genre that aims to create a sense of fear, panic, alarm, and dread for the audience. These films are often unsettling and rely on scaring the audience through a portrayal of their worst fears and nightmares. Horror films usually center on the arrival of an evil force, person, or event. Many Horror films include mythical creatures such as ghosts, vampires, and zombies. Traditionally, Horror films incorporate a large amount of violence and gore into the plot. Though it has its own style, Horror film often overlaps into Fantasy, Thriller, and Science-Fiction genres";

          document.getElementById("movie1").innerHTML = "The Shining";
          document.getElementById("movie2").innerHTML = "The Descen";
          document.getElementById("movie3").innerHTML = "The Ring";
          document.getElementById("movie4").innerHTML = "Shutter ";
          document.getElementById("movie5").innerHTML = "Insidious";
          document.getElementById("movie6").innerHTML = "The Conjuring";

          document.getElementById("m_link").href = "http://www.imdb.com/genre/horror";

     
        }

        if(movie_genre_p == "independent"){
           document.getElementById("movie_decription").innerHTML = "An independent film is a film production resulting in a feature film that is produced mostly or completely outside of the major film studio system.Independent films are sometimes distinguishable by their content and style and the way in which the filmmakers' personal artistic vision is realized. Usually, but not always, independent films are made with considerably lower budgets than major studio movies";

          document.getElementById("movie1").innerHTML = "Reservoir Dogs";
          document.getElementById("movie2").innerHTML = "The Terminator";
          document.getElementById("movie3").innerHTML = "The Usual Suspects";
          document.getElementById("movie4").innerHTML = "Memento";
          document.getElementById("movie5").innerHTML = "Donnie Dark";
          document.getElementById("movie6").innerHTML = "The Grand Budapest Hotel";
// google.com?q=saian
          document.getElementById("m_link").href = "http://www.filmsite.org/independentfilms.html";

        }

        if(movie_genre_p =="cartoon"){
           document.getElementById("movie_decription").innerHTML = "A cartoon is a film for the cinema, television or computer screen, which is made using sequential drawings, as opposed to animations in general, which include films made using clay, puppet and other means.";

          document.getElementById("movie1").innerHTML = "Toy Story ";
          document.getElementById("movie2").innerHTML = "The Lego Movie";
          document.getElementById("movie3").innerHTML = "The Lion King";
          document.getElementById("movie4").innerHTML = "Finding Nemo";
          document.getElementById("movie5").innerHTML = "The Incredibles";
          document.getElementById("movie6").innerHTML = "Home";

          document.getElementById("m_link").href = "http://www.imdb.com/genre/animation";


        }

        if(movie_genre_p == "cult"){
           document.getElementById("movie_decription").innerHTML = "Cult films are known for their dedicated, passionate fanbase, an elaborate subculture that engage in repeated viewings, quoting dialogue, and audience participation.";

          document.getElementById("movie1").innerHTML = " Clockwork Orange";
          document.getElementById("movie2").innerHTML = "Fight Club";
          document.getElementById("movie3").innerHTML = "The Good, the Bad and the Ugly";
          document.getElementById("movie4").innerHTML = "Evil Dead";
          document.getElementById("movie5").innerHTML = "The Big Lebowsk";
          document.getElementById("movie6").innerHTML = "Office Space";

          document.getElementById("m_link").href = "http://www.imdb.com/list/ls000571226/";

        }

        if(movie_genre_p == "foreign"){
           document.getElementById("movie_decription").innerHTML = "World cinema is a term used primarily in English-speaking countries to refer to the films and film industries of non-English-speaking countries. It is therefore often used interchangeably with the term foreign film. foreign film is not only foreign in terms of the country of production, but also in terms of the language used";

          document.getElementById("movie1").innerHTML = "Oldboy";
          document.getElementById("movie2").innerHTML = "Das Boot";
          document.getElementById("movie3").innerHTML = "Max Manus: Man of War";
          document.getElementById("movie4").innerHTML = "City of God";
          document.getElementById("movie5").innerHTML = "Life Is Beautiful ";
          document.getElementById("movie6").innerHTML = "Léon: The Professional";

          document.getElementById("m_link").href = "http://www.imdb.com/list/ls052393071/";


        }

        if(movie_genre_p == "parody"){
           document.getElementById("movie_decription").innerHTML = "A parody film is a comedy that parodies other film genres or films as pastiches, works created by imitation of the style of many different films reassembled together. Although the genre is often overlooked by critics, parody films are commonly profitable at the box office.";


          document.getElementById("movie1").innerHTML = "This Is the End ";
          document.getElementById("movie2").innerHTML = "Hamlet 2";
          document.getElementById("movie3").innerHTML = "Hot Fuzz";
          document.getElementById("movie4").innerHTML = "Airplane!";
          document.getElementById("movie5").innerHTML = "Best in Sho";
          document.getElementById("movie6").innerHTML = "Megamind";

          document.getElementById("m_link").href = "http://www.imdb.com/list/ls008396541/";


        }

        if(movie_genre_p == "romance"){
           document.getElementById("movie_decription").innerHTML = "This romance film usually has a theme that explores an issue within love, including but not limited to: love at first sight, forbidden love, love triangles, and sacrificial love. The tone of Romance film can vary greatly. Whether the end is happy or tragic, Romance film aims to evoke strong emotions in the audience. ";

          document.getElementById("movie1").innerHTML = "Titanic";
          document.getElementById("movie2").innerHTML = "Amélie";
          document.getElementById("movie3").innerHTML = "The Notebook";
          document.getElementById("movie4").innerHTML = "Forrest Gump";
          document.getElementById("movie5").innerHTML = "The Curious Case of Benjamin Button";
          document.getElementById("movie6").innerHTML = "Once";

          document.getElementById("m_link").href = "http://www.imdb.com/genre/romance";
        


        }

        if(movie_genre_p == "science_fiction"){
           document.getElementById("movie_decription").innerHTML = "Science fiction film is a film genre that uses science fiction: speculative, fictional science-based depictions of phenomena that are not fully accepted by mainstream science, such as extraterrestrial life forms, alien worlds, extrasensory perception and time travel, along with futuristic elements such as spacecraft, robots, cyborgs, interstellar space travel or other technologies";


          document.getElementById("movie1").innerHTML = "Inception";
          document.getElementById("movie2").innerHTML = "Interstellar";
          document.getElementById("movie3").innerHTML = "Avatar ";
          document.getElementById("movie4").innerHTML = "Gravity";
          document.getElementById("movie5").innerHTML = "Minority Report";
          document.getElementById("movie6").innerHTML = "Looper";

          document.getElementById("m_link").href = "http://www.imdb.com/genre/sci_fi";

        }

        if(movie_genre_p=="tragedy"){
           document.getElementById("movie_decription").innerHTML = "No description available now";


          document.getElementById("movie1").innerHTML = "The Pursuit of Happyness ";
          document.getElementById("movie2").innerHTML = "Dallas Buyers Club";
          document.getElementById("movie3").innerHTML = "12 Years a Slave";
          document.getElementById("movie4").innerHTML = "Seven Pounds";
          document.getElementById("movie5").innerHTML = "127 Hours ";
          document.getElementById("movie6").innerHTML = "A Walk to Remember";

          document.getElementById("m_link").href = "http://www.imdb.com/list/ls004996716/";

        }

        if(movie_genre_p =="noir"){
           document.getElementById("movie_decription").innerHTML = "No description available now";

          document.getElementById("movie1").innerHTML = "Gone Girl ";
          document.getElementById("movie2").innerHTML = "Pulp Fiction";
          document.getElementById("movie3").innerHTML = "Taxi Driver (1976)";
          document.getElementById("movie4").innerHTML = "Shutter Island ";
          document.getElementById("movie5").innerHTML = "The Silence of the Lambs";
          document.getElementById("movie6").innerHTML = "Predestination";

          document.getElementById("m_link").href = "http://www.imdb.com/genre/film_noir/";

        }



        //now books
        if(book_genre_p == "comic"){
          document.getElementById("book_info").innerHTML ="a magazine containing sequences of comic strips —usually hyphenated in attributive use. See comic book defined for English-language learners. See comic book defined for kids.";

            document.getElementById("book1").innerHTML = "The Dark Knight Returns";
            document.getElementById("book2").innerHTML = "Preacher";
            document.getElementById("book3").innerHTML = "V for Vendetta";
            document.getElementById("book4").innerHTML = "Essex County";
            document.getElementById("book5").innerHTML = "Marvels";
            document.getElementById("book6").innerHTML = "The Killing Joke";

            document.getElementById("b_link").href = "http://www.goodreads.com/genres/comics"


        }

        if(book_genre_p =="crime"){
          document.getElementById("book_info").innerHTML ="Crime fiction is the literary genre that fictionalises crimes, their detection, criminals, and their motives. It is usually distinguished from mainstream fiction and other genres such as historical fiction or science fiction, but the boundaries are indistinct.";

            document.getElementById("book1").innerHTML = "The Girl Who Played with Fire";
            document.getElementById("book2").innerHTML = "The Big Sleep";
            document.getElementById("book3").innerHTML = "A Study in Scarlet (Sherlock Holmes, #1)";
            document.getElementById("book4").innerHTML = "The Da Vinci Code";
            document.getElementById("book5").innerHTML = "The Silence of the Lambs";
            document.getElementById("book6").innerHTML = "The Godfather";

            document.getElementById("b_link").href = "http://www.goodreads.com/genres/crime"

        }

        if(book_genre_p =="drama"){
          document.getElementById("book_info").innerHTML ="the branch of literature having such compositions as its subject; dramatic art or representation.";

          document.getElementById("book1").innerHTML = "Hamlet";
          document.getElementById("book2").innerHTML = "Romeo and Juliet";
          document.getElementById("book3").innerHTML = "The Great Gatsby";
          document.getElementById("book4").innerHTML = "The Kite Runner";
          document.getElementById("book5").innerHTML = "The Tempest ";
          document.getElementById("book6").innerHTML = "Julius Caesar";

          document.getElementById("b_link").href = "https://www.goodreads.com/shelf/show/genre-drama"


        }
                if(book_genre_p == "educational"){
          document.getElementById("book_info").innerHTML ="This is a category of books regarding education. For books used for classroom instruction in various subjects, see Textbooks.";
        document.getElementById("book1").innerHTML = "Lies My Teacher Told Me";
        document.getElementById("book2").innerHTML = "The Well-Trained Mind: A Guide to Classical Education at Home";
        document.getElementById("book3").innerHTML = "The Smartest Kids in the World: And How They Got That Way";
        document.getElementById("book4").innerHTML = "Teaching to Transgress: Education as the Practice of Freedom";
        document.getElementById("book5").innerHTML = "The Book Whisperer: Awakening the Inner Reader in Every Child";
        document.getElementById("book6").innerHTML = "How Children Learn";

        document.getElementById("b_link").href = "http://www.goodreads.com/genres/education"


        }
                if(book_genre_p == "fantancy"){
          document.getElementById("book_info").innerHTML ="Fantasy is a genre of fiction that commonly uses magic and other supernatural phenomena as a primary plot element, theme, or setting. ";

            document.getElementById("book1").innerHTML = "A Game of Thrones (A Song of Ice and Fire, #1)";
            document.getElementById("book2").innerHTML = "Harry Potter and the Sorcerer's Stone";
            document.getElementById("book3").innerHTML = "The Hobbit";
            document.getElementById("book4").innerHTML = "The Fellowship of the Ring";
            document.getElementById("book5").innerHTML = "Eragon";
            document.getElementById("book6").innerHTML = "The Final Empire";

            document.getElementById("b_link").href = "http://www.goodreads.com/shelf/show/genre-fantasy"

        }
                if(book_genre_p =="fiction"){
          document.getElementById("book_info").innerHTML ="info about fiction books now available";
        
            document.getElementById("book1").innerHTML = "The Great Gatsby";
            document.getElementById("book2").innerHTML = "To Kill a Mockingbird";
            document.getElementById("book3").innerHTML = "The Hunger Games";
            document.getElementById("book4").innerHTML = "The Kite Runner";
            document.getElementById("book5").innerHTML = "Pride and Prejudice";
            document.getElementById("book6").innerHTML = "Angels & Demons";

            document.getElementById("b_link").href = "http://www.goodreads.com/genres/science-fiction"

        }
                if(book_genre_p =="humour"){
          document.getElementById("book_info").innerHTML =" Usually a fiction full of fun, fancy, and excitement, meant to entertain and sometimes cause intended laughter; but can be contained in all genres";
            document.getElementById("book1").innerHTML = "Good Omens: The Nice and Accurate Prophecies of Agnes Nutter, Witch";
            document.getElementById("book2").innerHTML = "The Princess Bride";
            document.getElementById("book3").innerHTML = "Wallbanger";
            document.getElementById("book4").innerHTML = "Mostly Harmless";
            document.getElementById("book5").innerHTML = "Yes Please";
            document.getElementById("book6").innerHTML = "Shattered Glass";

            document.getElementById("b_link").href = "http://www.goodreads.com/genres/humor"

        }

                if(book_genre_p =="mystery"){
          document.getElementById("book_info").innerHTML ="Mystery fiction is a genre of fiction usually involving a mysterious death or a crime to be solved. In a closed circle of suspects, each suspect must have a credible motive and a reasonable opportunity for committing the crime.";
            document.getElementById("book1").innerHTML = "The Da Vinci Code";
            document.getElementById("book2").innerHTML = "The Girl Who Played with Fire";
            document.getElementById("book3").innerHTML = "The Hound of the Baskervilles";
            document.getElementById("book4").innerHTML = "In the Woods";
            document.getElementById("book5").innerHTML = "The Adventures of Sherlock Holmes";
            document.getElementById("book6").innerHTML = "The Thirteenth Tale";

            document.getElementById("b_link").href = "http://www.goodreads.com/genres/mystery"


        }
                if(book_genre_p =="non_fiction"){
          document.getElementById("book_info").innerHTML ="NO info available right now";
        
            document.getElementById("book1").innerHTML = "The Diary of a Young Girl";
            document.getElementById("book2").innerHTML = "Into the Wild";
            document.getElementById("book3").innerHTML = "A Short History of Nearly Everything";
            document.getElementById("book4").innerHTML = "The Glass Castle";
            document.getElementById("book5").innerHTML = "The God Delusion";
            document.getElementById("book6").innerHTML = "Orange Is the New Black";

            document.getElementById("b_link").href = "http://www.goodreads.com/genres/non-fiction"

        }
                if(book_genre_p =="poetry"){
          document.getElementById("book_info").innerHTML ="Poetry is a form of literature that uses aesthetic and rhythmic qualities of language—such as phonaesthetics, sound symbolism, and metre—to evoke meanings in addition to, or in place of, the prosaic ostensible meaning.";

            document.getElementById("book1").innerHTML = "A Light in the Attic";
            document.getElementById("book2").innerHTML = "The Odyssey";
            document.getElementById("book3").innerHTML = "The Complete Poems";
            document.getElementById("book4").innerHTML = "Shakespeare's Sonnets";
            document.getElementById("book5").innerHTML = "The Rime of the Ancient Mariner";
            document.getElementById("book6").innerHTML = "The Prophet";

            document.getElementById("b_link").href = "http://www.goodreads.com/genres/poetry"

        }
                        if(book_genre_p == "romance"){
          document.getElementById("book_info").innerHTML ="Novels of this type of genre fiction place their primary focus on the relationship and romantic love between two people, and must have an emotionally satisfying and optimistic ending. There are many subgenres of the romance novel including fantasy, historical, science fiction and paranormal.";
            document.getElementById("book1").innerHTML = "Twilight";
            document.getElementById("book2").innerHTML = "Pride and Prejudice";
            document.getElementById("book3").innerHTML = "The Fault in Our Stars";
            document.getElementById("book4").innerHTML = "Outlander";
            document.getElementById("book5").innerHTML = "The Time Traveler's";
            document.getElementById("book6").innerHTML = "A Walk to Remember";

            document.getElementById("b_link").href = "http://www.goodreads.com/genres/romance"


        }

                if(book_genre_p == "scary"){
          document.getElementById("book_info").innerHTML =" scary fantasy are genres of literature, which are intended to, or have the capacity to frighten, scare, or startle their readers by inducing feelings of horror and terror.";
            document.getElementById("book1").innerHTML = "The Shining";
            document.getElementById("book2").innerHTML = "It";
            document.getElementById("book3").innerHTML = "The Stand";
            document.getElementById("book4").innerHTML = "Misery";
            document.getElementById("book5").innerHTML = "Night Shift";
            document.getElementById("book6").innerHTML = "The Dark Half";

            document.getElementById("b_link").href = "http://www.goodreads.com/genres/horror"

        }
                        if(book_genre_p == "science_fiction"){
          document.getElementById("book_info").innerHTML ="Science fiction is a genre of fiction dealing with imaginative content such as futuristic settings, futuristic science and technology, space travel, time travel, faster than light travel, parallel universes and extraterrestrial life.ce fiction";
            document.getElementById("book1").innerHTML = "The Hunger Games";
            document.getElementById("book2").innerHTML = "Old Man's War";
            document.getElementById("book3").innerHTML = "Anathem ";
            document.getElementById("book4").innerHTML = "The Martian";
            document.getElementById("book5").innerHTML = "The Windup Girl ";
            document.getElementById("book6").innerHTML = "Pandora's Star";

            document.getElementById("b_link").href = "http://www.goodreads.com/genres/science-fiction"



        }
        if(book_genre_p == "self_help"){
          document.getElementById("book_info").innerHTML ="A self-help book is one that is written with the intention to instruct its readers on solving personal problems. Self-help books moved from a niche position to being a postmodern cultural phenomenon in the late twentieth century.";
            document.getElementById("book1").innerHTML = "The Power of Now: A Guide to Spiritual Enlightenment";
            document.getElementById("book2").innerHTML = "The Secret";
            document.getElementById("book3").innerHTML = "The Alchemist";
            document.getElementById("book4").innerHTML = "To Hold The Sun ";
            document.getElementById("book5").innerHTML = "You Can Heal Your Life";
            document.getElementById("book6").innerHTML = "THE HOPE HANDBOOK";

            document.getElementById("b_link").href = "http://www.goodreads.com/genres/self-help"

        }
        if(book_genre_p == "thriller"){
          document.getElementById("book_info").innerHTML ="Thriller is a genre of literature, film, videogame stories and television programming that uses suspense, tension, and excitement as its main elements.Thrillers heavily stimulate the viewer's moods, giving them a high level of anticipation, ultra-heightened expectation, uncertainty, surprise, anxiety and terror.";
            document.getElementById("book1").innerHTML = "The Girl with the Dragon Tattoo";
            document.getElementById("book2").innerHTML = "Gone Girl";
            document.getElementById("book3").innerHTML = "The Da Vinci Code";
            document.getElementById("book4").innerHTML = "Angels & Demons";
            document.getElementById("book5").innerHTML = "The Girl on the Train";
            document.getElementById("book6").innerHTML = "Inferno";

            document.getElementById("b_link").href = "https://www.goodreads.com/shelf/show/genre-thriller"


        }
        if(book_genre_p =="war"){
          document.getElementById("book_info").innerHTML =" A war novel is a novel in which the primary action takes place in a field of armed combat, or in a domestic setting (or home front) where the characters are preoccupied with the preparations for, or recovery from, war. It is sometimes referred to as military fiction. ";

             document.getElementById("book1").innerHTML = "The Killer Angels";
             document.getElementById("book2").innerHTML = "Gone with the Wind";
             document.getElementById("book3").innerHTML = "Cold Mountain";
             document.getElementById("book4").innerHTML = "Gods and Generals";
             document.getElementById("book5").innerHTML = "Manhunt: The 12-Day Chase for Lincoln's Killer";
             document.getElementById("book6").innerHTML = "The Red Badge of Courage";

             document.getElementById("b_link").href = "http://www.goodreads.com/genres/civil-war"

        }

        if(music_genre_p == "blues"){
          document.getElementById("music_info").innerHTML = "The genre is a fusion of traditional African music and European folk music, spirituals, work songs, field hollers, shouts and chants, and rhymed simple narrative ballads.The blues form, ubiquitous in jazz, rhythm and blues and rock and roll, is characterized by the call-and-response pattern and specific chord progressions, of which the twelve-bar blues is the most common. The blue notes are also an important part of the sound. Blues shuffles or walking bass reinforce the trance-like rhythm and form a repetitive effect called a groove.";
        document.getElementById("music_info_p").innerHTML = "The genre is a fusion of traditional African music and European folk music, spirituals, work songs, field hollers, shouts and chants, and rhymed simple narrative ballads.The blues form, ubiquitous in jazz, rhythm and blues and rock and roll, is characterized by the call-and-response pattern and specific chord progressions, of which the twelve-bar blues is the most common. The blue notes are also an important part of the sound. Blues shuffles or walking bass reinforce the trance-like rhythm and form a repetitive effect called a groove.";
        
        }
                if(music_genre_p== "classical"){
          document.getElementById("music_info").innerHTML = "Classical music is art music produced or rooted in the traditions of Western music (both liturgical and secular). It encompasses a broad span of time from roughly the 11th century to the present day. The central norms of this tradition became codified between 1550 and 1900, which is known as the common practice period.";
          document.getElementById("music_info_p").innerHTML = "Classical music is art music produced or rooted in the traditions of Western music (both liturgical and secular). It encompasses a broad span of time from roughly the 11th century to the present day. The central norms of this tradition became codified between 1550 and 1900, which is known as the common practice period.";
        }     
                if(music_genre_p == "country"){
          document.getElementById("music_info").innerHTML = "Country music is a genre of American popular music that originated in Southern United States, in Bristol, Tennessee in the 1920s. It takes its roots from the southeastern genre of American folk music and Western music.";
        
          document.getElementById("music_info_p").innerHTML = "Country music is a genre of American popular music that originated in Southern United States, in Bristol, Tennessee in the 1920s. It takes its roots from the southeastern genre of American folk music and Western music.";
        
        }   
        if(music_genre_p == "dance"){
          document.getElementById("music_info").innerHTML = "Dance music is music composed specifically to facilitate or accompany dancing. It can be either a whole musical piece or part of a larger musical arrangement. In terms of performance, the major categories are live dance music and recorded dance music";
          document.getElementById("music_info_p").innerHTML = "Dance music is music composed specifically to facilitate or accompany dancing. It can be either a whole musical piece or part of a larger musical arrangement. In terms of performance, the major categories are live dance music and recorded dance music";
        
        }            if(music_genre_p == "hip_hop"){
          document.getElementById("music_info").innerHTML = "Hip hop music, also called hip-hop or rap music, is a music genre consisting of a stylized rhythmic music that commonly accompanies rapping, a rhythmic and rhyming speech that is chanted.";
document.getElementById("music_info_p").innerHTML = "Hip hop music, also called hip-hop or rap music, is a music genre consisting of a stylized rhythmic music that commonly accompanies rapping, a rhythmic and rhyming speech that is chanted.";


        }             if(music_genre_p == "indie"){
          document.getElementById("music_info").innerHTML = "Independent music (often shortened to indie music or indie) is music produced independently from major commercial record labels or their subsidiaries, a process that may include an autonomous, do-it-yourself approach to recording and publishing.";
          document.getElementById("music_info_p").innerHTML = "Independent music (often shortened to indie music or indie) is music produced independently from major commercial record labels or their subsidiaries, a process that may include an autonomous, do-it-yourself approach to recording and publishing.";

        }             if(music_genre_p =="jazz"){
          document.getElementById("music_info").innerHTML = "Jazz is a genre of music that originated in African American communities during the late 19th and early 20th century.";
        document.getElementById("music_info_p").innerHTML = "Jazz is a genre of music that originated in African American communities during the late 19th and early 20th century.";

        }             if(music_genre_p =="metal"){
          document.getElementById("music_info").innerHTML = "With roots in blues rock and psychedelic rock, the bands that created heavy metal developed a thick, massive sound, characterized by highly amplified distortion, extended guitar solos, emphatic beats, and overall loudness.";
                    document.getElementById("music_info_p").innerHTML = "With roots in blues rock and psychedelic rock, the bands that created heavy metal developed a thick, massive sound, characterized by highly amplified distortion, extended guitar solos, emphatic beats, and overall loudness.";
        }             if(music_genre_p == "oldies"){
          document.getElementById("music_info").innerHTML = "   Oldies tunes are typically from R&B, pop and rock music genres. Country, jazz, classical music, and other formats are generally not considered oldies music, although some of those genres have their own oldies format (for instance, classic country).";

document.getElementById("music_info_p").innerHTML = "   Oldies tunes are typically from R&B, pop and rock music genres. Country, jazz, classical music, and other formats are generally not considered oldies music, although some of those genres have their own oldies format (for instance, classic country).";
        }             if(music_genre_p == "pop"){
          document.getElementById("music_info").innerHTML = "   Pop music (a term that originally derives from an abbreviation of popular) is a genre of popular music, which originated in its modern form in the Western world during the 1950s and 1960s, deriving from rock and roll.";
                    document.getElementById("music_info_p").innerHTML = "   Pop music (a term that originally derives from an abbreviation of popular) is a genre of popular music, which originated in its modern form in the Western world during the 1950s and 1960s, deriving from rock and roll.";
        }             if(music_genre_p =="r&b"){
          document.getElementById("music_info").innerHTML = "Contemporary R&B, also known as simply R&B, is a music genre that combines elements of rhythm and blues, soul, funk, pop, hip hop and dance.";

                   document.getElementById("music_info_p").innerHTML = "Contemporary R&B, also known as simply R&B, is a music genre that combines elements of rhythm and blues, soul, funk, pop, hip hop and dance.";
        }             if(music_genre_p =="rap"){
          document.getElementById("music_info").innerHTML = "a style of popular music, developed by disc jockeys and urban blacks in the late 1970s, in which an insistent, recurring beat pattern provides the background and counterpoint for rapid, slangy, and often boastful rhyming patter glibly intoned by a vocalist or vocalists.";

         document.getElementById("music_info_p").innerHTML = "Contemporary R&B, also known as simply R&B, is a music genre that combines elements of rhythm and blues, soul, funk, pop, hip hop and dance.";

        }             if(music_genre_p =="reggae"){
          document.getElementById("music_info").innerHTML = " the term reggae more properly denotes a particular music style( Jamaican dance music) that was strongly influenced by traditional mento and calypso music, as well as American jazz and rhythm and blues, especially the New Orleans R&B practiced by Fats Domino and Allen Toussaint, and evolved out of the earlier genres ska and rocksteady.";
        

  document.getElementById("music_info_p").innerHTML = " the term reggae more properly denotes a particular music style( Jamaican dance music) that was strongly influenced by traditional mento and calypso music, as well as American jazz and rhythm and blues, especially the New Orleans R&B practiced by Fats Domino and Allen Toussaint, and evolved out of the earlier genres ska and rocksteady.";
        


        }             if(music_genre_p =="rock"){
          document.getElementById("music_info").innerHTML = "Rock music is a genre of popular music that originated as rock and roll in the United States in the 1950s, and developed into a range of different styles in the 1960s and later, particularly in the United Kingdom and the United States.";

                    document.getElementById("music_info_p").innerHTML = "Rock music is a genre of popular music that originated as rock and roll in the United States in the 1950s, and developed into a range of different styles in the 1960s and later, particularly in the United Kingdom and the United States.";
        }             if(music_genre_p =="salsa"){
          document.getElementById("music_info").innerHTML = " Salsa comprises various musical genres including the Cuban son montuno, guaracha, chachachá, mambo, and to a certain extent bolero. Salsa is the product of genres such as the Puerto Rican bomba and plena.";

                    document.getElementById("music_info_p").innerHTML = " Salsa comprises various musical genres including the Cuban son montuno, guaracha, chachachá, mambo, and to a certain extent bolero. Salsa is the product of genres such as the Puerto Rican bomba and plena.";
        }             if(music_genre_p =="techno"){
          document.getElementById("music_info").innerHTML = "Techno is a form of electronic dance music that emerged in Detroit, Michigan, in the United States during the mid-to-late 1980s.Stylistically, techno is generally repetitive instrumental music, oftentimes produced for use in a continuous DJ set.";
        
  document.getElementById("music_info_p").innerHTML = "Techno is a form of electronic dance music that emerged in Detroit, Michigan, in the United States during the mid-to-late 1980s.Stylistically, techno is generally repetitive instrumental music, oftentimes produced for use in a continuous DJ set.";
        



        }



        document.getElementById("movie_genre").innerHTML = ""+movie_genre_p;
        document.getElementById("book_genre").innerHTML = ""+book_genre_p;
        document.getElementById("music_genre").innerHTML = ""+music_genre_p;
        document.getElementById("movie_genre_t").innerHTML = ""+movie_genre_p;
        document.getElementById("book_genre_t").innerHTML = ""+book_genre_p;
        document.getElementById("music_genre_t").innerHTML = ""+music_genre_p;
               
    </script>
