<div class="section" id="index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header center-on-small-only">Possible Hike?</h1>
        <h4 class ="light red-text text-lighten-4 center-on-small-only">How we wish to extend the project</h4>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!--  Outer row  -->
  <div class="row">

    <div class="col s12 m9 l10">
      <!--  Material Design -->
      <div id="materialdesign" class="section scrollspy">
        <h2 class="header">Accomplished..! </h2>
        <p class="caption">We successfully got the Personality insights from Tweet data by using IBM Watson and mapped those insights to entertainment Domains such as Movie, Books, Music by using a open source paper named "Relating Personality Types with User Preferences in Multiple Entertainment Domains". Within the period of hackathon, we managed to provide a good and interactive user-interface with Visual rendering of data using various open source projects.
        Basically we created a personal interest mapper application that suggests things that user will surely like.</p>
      <div id="materialdesign" class="section scrollspy">
        <h2 class="header">Improvements..</h2>
        <p class="caption">
          We wish to create such a system where users have their respective accounts. If a new movie or something from entertainment domain releases and that maps with the user's personality profile then we wish to send a notification to the user.User will be able to provide feedback, that can be used for improving mapping results. Profile data can be used by various entertainment providers to target users accurately within an area with common interests and even predict the gross profit of new release.
        </p>    
        </div>
      </div>  
  </div>
</div> <!-- End Container -->
